<style>
        body {
          background-image: url('/img/img4.jpg');
    }
</style>

<div>
    {{!-- <h2>My Created Events:</h2>
    <p>Event name:</p>
    <p>Location:</p>
    <p>Date:</p>
    <p>Price:</p> --}}
    {{> createdevents}}
</div>

<div>
    {{!-- <h2>Events Attending:</h2>
    <p>Event name:</p>
    <p>Location:</p>
    <p>Date:</p>
    <p>Price:</p> --}}
    {{> attendingevents}}
</div>

<div>
    <h2>Create a new event:</h2>
    <form>
        <label for="event-name">New Event Name:</label>
        <input type="text" id="event-name" name="event-name">
        <label for="event-location">Event Location:</label>
        <input type="text" id="event-location" name="event-location">
        <label for="event-date">Event Date:</label>
        <input type="text" id="event-date" name="event-date">
        <label for="event-date">Event Price:</label>
        <input type="text" id="event-date" name="event-date">
    </form>
</div>
