<style>
        body {
          background-image: url('/img/img4.jpg');
    }
</style>

<div>
    <h2>My Created Events:</h2>
    <p>Event name:</p>
    <p>Location:</p>
    <p>Date:</p>
    <p>Price:</p>
</div>

<div>
    <h2>Events Attending:</h2>
    <p>Event name:</p>
    <p>Location:</p>
    <p>Date:</p>
    <p>Price:</p>
</div>

<div>
    <h2>Create a new event:</h2>
    <p>new Event name:</p>
    <p>new Location:</p>
    <p>new Date:</p>
</div>
