<div class="col m5" style="border: 2px dotted white; padding: 2vh; margin: 2vh;">
    <h5 style="text-decoration: underline;">My Created Events</h5>
    {{> createdevents}}
</div>

<div class="col m5" style="border: 2px dotted white; padding: 2vh; margin: 2vh;">
    <h5 style="text-decoration: underline;">My Tickets</h5>
    {{> attendingevents}}
</div>

{{!-- User Event Form --}}
<div class="col m12">
    <h2>Create a new event:</h2>
    <form class="create-new-event" data-userId={{userEvents.id}}>
        <label for="event-name">New Event Name:</label>
        <input type="text" id="event-name" name="event-name">
        <fieldset>
            <legend>Event Location Details:</legend>
            <label for="event-address">Address</label>
            <input type="text" id="event-address" name="event-address">
            <label for="event-city">City</label>
            <input type="text" id="event-city" name="event-city">
            <label for="event-postalcode">Postal Code</label>
            <input type="text" id="event-postalcode" name="event-postalcode">
            <label for="event-state">State</label>
            <input type="text" id="event-state" name="event-state">
            <label for="event-country">Country</label>
            <input type="text" id="event-country" name="event-country">
        </fieldset>
        <label for="event-date">Event Date:</label>
        <input type="date" id="event-date" name="event-date">
        <label for="event-date">Event Price:</label>
        <input type="number" id="event-price" name="event-price">
        <button class="btn waves-effect waves-light" type="submit">Submit</button>
    </form>
</div>
