<style>
        body {
          background-image: url('/img/img3.jpg');
        }
        </style>

<p class="light center"><br>What event or concert you would like to visit?</p>
</div>

 <div class="search-area">
    <h4 id="search-title" class="search-title center">Search for events in a desired city</h4>
    <div class="input-field">
        <textarea id="get-city" class="materialize-textarea" placeholder="Tucson"></textarea>
        <button class="btn waves-effect waves-light search-city" type="submit" name="action">
            <i class="fas fa-search"></i>
            Search
        </button>
    </div>
</div>

<script src="./js/search.js"></script>