<h1 class="search-results" data-userId={{user_id}} style="text-align: center; color: white; padding: 2vh;">Search Results</h1>

<style>
    body {
        background-image: url('/img/img3.jpg');
        background-repeat: repeat-y;
        background-size: 100%;
    }
</style>

<div class="row">
    {{#each locationData as |location|}}
    {{> eventcard}}
    {{/each}}
</div>

<script src="../js/ticket-create.js"></script>