<style>
  body {
    background-image: url('/img/img.jpg');
    background-repeat: repeat-y;
    background-size: 100%;
  }
</style>
  
  <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">local_offer</i></h2>
                        <h5 class="center">Buy Tickets</h5>

                        <p class="light center">Buy tickets with ease. <br> Tickets are just one click away. </p>
                    </div>
                </div>

<script src="/models/Ticket.js"></script>

<!--need to write a ticket script-->
