<style>
        body {
          background-image: url('/img/img4.jpg');
    }
</style>

<div class="row">
  <div class="col s12 m6">
    <div class="user-profile" data-userId={{user_id}}>
      {{!-- <h2 class="center light-blue-text"><i class="material-icons">description</i></h2> --}}
      <h5 class="center" >User Profile</h5>
      {{> usercard}}
  </div>
</div>

<script src="../js/event-manager.js"></script>
<script src="../js/ticket-manager.js"></script>